.intro {
  font-size: 150px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  animation: stupid 7s linear 1;
}

@keyframes stupid {
  0% {
    transform: rotate(0) translateX(0) translateY(50px) scale(0);
    color: red;
    opacity: 0.8;
  }
  20% {
    transform: rotate(-45deg) translateX(300px) translateY(-100px) scale(0.5);
    color: green;
    opacity: 0.8;
  }
  40% {
    transform: rotate(45deg) translateX(100px) translateY(50px) scale(0.8);
    color: blue;
    opacity: 0.8;
  }
  50% {
    transform: rotate(0) translateX(50px) translateY(75px) scale(0.9);
    color: rgb(39, 7, 68);
    opacity: 0.8;
  }
  60% {
    transform: rotate(-360deg) translateX(0) translateY(100px) scale(1);
    color: rgb(194, 201, 129);
    opacity: 1;
  }
  75% {
    opacity: 0;
    transform: scale(10);
  }
}
